In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

from files.sb_utils import save_file

## Import csv files: Books, Users and Ratings
#### and look at dtypes

In [2]:
books = pd.read_csv(r"C:\Users\sydne\Desktop\Springboard\BIS Cap\archive\Books.csv", dtype ={'Year-Of-Publication': object})
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [3]:
users = pd.read_csv(r'C:\Users\sydne\Desktop\Springboard\BIS Cap\archive\Users.csv')
users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [4]:
ratings = pd.read_csv(r'C:\Users\sydne\Desktop\Springboard\BIS Cap\archive\Ratings.csv')
ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

### Get shape of Dataframes

In [5]:
books.shape

(271360, 8)

In [6]:
users.shape

(278858, 3)

In [7]:
ratings.shape

(1149780, 3)

## Delete Image URLs from book dataframe

In [8]:
books= books.drop(columns=['Image-URL-S','Image-URL-M', 'Image-URL-L'])

In [9]:
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

## Merge Users and ratings via the User_ID column

In [10]:
user_ratings= users.merge(ratings, left_on = 'User-ID', right_on= 'User-ID')
user_ratings.head()
#ratings are on a scale from 0 to 10

   User-ID                   Location   Age        ISBN  Book-Rating
0        2  stockton, california, usa  18.0  0195153448            0
1        7        washington, dc, usa   NaN   034542252            0
2        8   timmins, ontario, canada   NaN  0002005018            5
3        8   timmins, ontario, canada   NaN  0060973129            0
4        8   timmins, ontario, canada   NaN  0374157065            0

In [11]:
# get shaape of new DF
user_ratings.shape

(1149780, 5)

## Merge user_rating with books on the ISBN column

In [12]:
user_rating_book = user_ratings.merge(books, left_on = 'ISBN', right_on='ISBN')

In [13]:
#look at the columns
user_rating_book.columns

Index(['User-ID', 'Location', 'Age', 'ISBN', 'Book-Rating', 'Book-Title',
       'Book-Author', 'Year-Of-Publication', 'Publisher'],
      dtype='object')

In [14]:
# look at the new dataframe using head()
user_rating_book.head()

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
3,11676,"n/a, n/a, n/a",NaN,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
4,41385,"sudbury, ontario, canada",NaN,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [15]:
#look at shape
user_rating_book.shape

(1031136, 9)

## Check null values

In [16]:
missing = pd.concat([user_rating_book.isnull().sum(), 100 * user_rating_book.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count'], ascending = True)

                      count          %
User-ID                   0   0.000000
Location                  0   0.000000
ISBN                      0   0.000000
Book-Rating               0   0.000000
Book-Title                0   0.000000
Year-Of-Publication       0   0.000000
Book-Author               2   0.000194
Publisher                 2   0.000194
Age                  277835  26.944554

#### Drop the age column

In [17]:
user_rating_book = user_rating_book.drop(columns=['Age'])

In [18]:
missing = pd.concat([user_rating_book.isnull().sum(), 100 * user_rating_book.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count'], ascending = True)

                     count         %
User-ID                  0  0.000000
Location                 0  0.000000
ISBN                     0  0.000000
Book-Rating              0  0.000000
Book-Title               0  0.000000
Year-Of-Publication      0  0.000000
Book-Author              2  0.000194
Publisher                2  0.000194

## Check unique values

In [19]:
user_rating_book.nunique()

User-ID                 92106
Location                22480
ISBN                   270151
Book-Rating                11
Book-Title             241071
Book-Author            101587
Year-Of-Publication       118
Publisher               16729
dtype: int64

## Drop duplicates just in case there are any

In [25]:
user_rating_book.drop_duplicates()

,User-ID,Location,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,2,"stockton, california, usa",0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,8,"timmins, ontario, canada",0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,11400,"ottawa, ontario, canada",0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
3,11676,"n/a, n/a, n/a",0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
4,41385,"sudbury, ontario, canada",0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
...,...,...,...,...,...,...,...,...
1031131,278851,"dallas, texas, usa",0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon &amp; Schuster
1031132,278851,"dallas, texas, usa",0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books
1031133,278851,"dallas, texas, usa",0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985,Lone Star Books
1031134,278851,"dallas, texas, usa",0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books
1031135,278851,"dallas, texas, usa",1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999,American Map Corporation

## Get random samples of 100K

In [26]:
sampled =user_rating_book.sample(100000)
sampled

,User-ID,Location,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
62018,25976,"lakeland, florida, usa",0061042943,8,Final Appeal,Lisa Scottoline,1994,HarperTorch
539510,123981,"phoenix, arizona, usa",0967944406,0,What's Wrong With Dorfman?,John Blumenthal,2000,Farmer Street Press
596813,25533,"derby, derbyshire, united kingdom",0394556550,0,Maus a Survivors Tale: And Here My Trouble Begin,Art Spiegelman,1991,Pantheon Books
319412,256167,"temecula, california, usa",0786014555,0,Dark Masques,J. N. Williamson,2001,Pinnacle Books
547709,142524,"detroit, michigan, usa",0374158517,0,The Frequency of Souls,Mary Kay Zuravleff,1996,Farrar Straus &amp; Giroux
...,...,...,...,...,...,...,...,...
1027146,271284,"alexandria, virginia, usa",0440100577,0,All Things in Their Season,Helen Chappell,1983,Dell Publishing
694195,190925,"hobe sound, florida, usa",0141001860,0,Bridesmaids Revisited: An Ellie Haskell Mystery,Dorothy Cannell,2001,Penguin Books
314290,7125,"apo, ae, usa",1899712186,0,Mind Bending Classic Logic Puzzles (Mind-Bendi...,Lagoon Books,1999,Lagoon Books
421219,58156,"whitesboro, new york, usa",0345413865,0,Billy Straight : A Novel,JONATHAN KELLERMAN,1999,Ballantine Books
655866,32773,"olathe, kansas, usa",0425109224,0,The Great Escape (Real Life Gamebooks),Simon Farrell,1988,Berkley Pub Group (Mm)

## Get a brief look at the Samples

In [27]:
sampled_count = sampled.groupby(['User-ID', 'Book-Rating', 'ISBN'])['User-ID'].count()
sampled_count

User-ID  Book-Rating  ISBN
2        0            0195153448    1
8        0            1558746218    1
         5            0887841740    1
         7            1881320189    1
9        0            0609804618    1
                                   ..
278843   0            0670879835    1
                      1874061149    1
         9            0399146431    1
278851   0            1566910102    1
278854   0            0553578596    1
Name: User-ID, Length: 100000, dtype: int64

## save new csv(s)

In [28]:
datapath = '../Data'
save_file(sampled, 'sampled_df.csv', datapath)

A file already exists with this name.

Writing file.  "../Data\sampled_df.csv"

In [29]:
save_file(user_rating_book, 'user_rating_book.csv', datapath)

A file already exists with this name.

Writing file.  "../Data\user_rating_book.csv"